<!--<div class="container">-->
<!--  <div class="card">-->
<!--    <app-header-->
<!--      [avatar]="data.avatarSrc"-->
<!--      [birthDate]="data.birthDate"-->
<!--    ></app-header>-->
<!--    <app-content-->
<!--      [firstName]="data.firstName"-->
<!--      [lastName]="data.lastName"-->
<!--    ></app-content>-->
<!--    <div class="row">-->
<!--      <app-post-->
<!--        class="col"-->
<!--        title="Posts"-->
<!--        [value]="data.posts"-->
<!--      ></app-post>-->
<!--      <app-post-->
<!--        class="col"-->
<!--        title="Followers"-->
<!--        [value]="data.followers"-->
<!--      ></app-post>-->
<!--      <app-post-->
<!--        class="col"-->
<!--        title="Following"-->
<!--        [value]="data.following"-->
<!--      ></app-post>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<mat-list>
  <app-item [id]="1" [delete]="delete(1)" (edit)="edit($event)"></app-item>
  <app-item [id]="2" [delete]="delete(11)" (edit)="edit($event)"></app-item>
  <app-item [id]="3" [delete]="delete" (edit)="edit($event)"></app-item>
  <app-item [id]="4" [delete]="delete" (edit)="edit($event)"></app-item>
</mat-list>

<mat-list>
  <ng-container *ngFor="let user of users;index as i">
    <ng-container *ngTemplateOutlet="matListItem; context: { $implicit: user, i: i, key: 1 }"></ng-container>
  </ng-container>
</mat-list>

<ng-template #matListItem let-user let-i="i" let-x="key">
  <mat-list-item>
    {{user.firstName}} {{user.lastName}}
  </mat-list-item>
  <mat-divider *ngIf="i < users.length - 1"></mat-divider>
</ng-template>
